body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0 100px;
    color: #f9faf8;
    
}
.link {
    display: flex;
    gap: 18px;
}
.content1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 100px;
}
.text1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.text2{
    font-size:  18px;
    color: lightgray;
}
.con1 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    width: 500px;
}
.nisa {
    height: 300px;
    width: 500px;
}
.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    text-align: center;
    gap: 40px;
    margin: 40px;
    flex-wrap: wrap;
}
.text3{
    font-size: 36px;
    font-weight: bolder;
}
.text {
    font-size: 18px;
    width: 200px;
}
.con3 {
    display: flex;
    justify-content: center;
    gap: 70px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.content3 {
    display: flex;
    flex-direction: column;
    padding: 100px 225px;
    text-align: center;
    align-items: center;
    font-size: 24px;
    background-color: lightgray;
}

.content4 {
    display: flex;
    justify-content: space-evenly;
    margin: 100px 200px;
    padding: 30px 0;
    background-color: #3882f6;
    color: white;
    border-radius: 12px;
}

.con4{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.text4{
    font-size: 20px;
    font-weight: bold;
}

.footer {
    text-align: center;
    padding: 32px 0;
    color: white;
    margin: 0px;
}

.footer, .header, .content1 {
    background-color: #1f2937;
}
button {
    height: 30px;
    width: 100px;
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    border-color: azure;
    font-weight: bold;
}

img {
    height: 200px;
    width: 200px;
}